:root{
    --maximoancho: 1400px;
}
@font-face {
    font-family: Athenian;
    src: url('./Athenian.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, p, label, fieldset{
    font-family: 'Telex', sans-serif;
}

body{
    font-family: Athenian, Arial, sans-serif;
    background-color: var(--color_gris);
}

header {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.navbar_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 80%;
    max-width: var(--maximoancho);
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.navbar ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 15px;
    font-weight:light;
}

ul li{
    display: block;
}

h1, h2{
    text-align: center;
    color: black;
}

.presentacion_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2{
    font-family: 'Trirong', serif;
    width: 70%;
    margin-top: 40px;
    max-width: 1080px;
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 50px;
    line-height: 40px;
}

.trabajos_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas_container{
    width: 80%;
    max-width: var(--maximoancho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.tarjeta_trabajo{
    cursor: pointer;
    display: block;
    width: 32%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    background: rgba(119, 0, 255, 0.74);
}

.tarjeta_trabajo:hover{
    opacity: 0.5;
}

.contacto_container{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto{
     display: flex;
     justify-content:space-between;
     align-items: center;
     border-bottom: 1px solid rgba(0, 0, 0, 0.144);
     width: 80%;
     max-width: var(--maximoancho);
     height: 100%;
}

.contacto_columna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    height: 100%;
}

.primera_col, .tercera_col{
    width: 20%;
}

.contacto h2{
    font-size: 30px;
    padding: 17px;
    text-align: left;
}

.segunda_col{
    height: 100%;
    width: 50%;
}

.formulario form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.formulario{
    width: 100%;
}

fieldset{
    display: block;
    border: none;
    width: 100%;
}

.nombre_apell_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}


.nombre_apell{
    width: 100%;
    display: flex;
    align-items: center;
}

.elemento_form{
    width: 100%;
}


input{
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    background: rgba(128, 128, 128, 0.027);
}