
@font-face {
    font-family: Athenian;
    src: url('./Athenian.ttf') format('truetype');
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a, a:link, a:visited{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.575);
    text-decoration: none;
}

a:active{
    color: black;
}

.current{
    color: black !important; 
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    text-decoration-color: red !important;
}


a, p, label, fieldset, legend{
    font-family: 'Telex', sans-serif;
    font-size: 14px;
}


body{
    position: relative;
    font-family: Athenian, Arial, sans-serif;
    background-color: var(--color_gris);
}



.icono_tope_pagina{
    width: 100%;
    transform: translateY(-90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 80%;
    max-width: 1000px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.barra_menu_container{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

header {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

.nav_boton_container{
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    left: 0;
}

.nav_boton_container_cruzado span:nth-child(1){
    transform: rotate(45deg) translateX(8px);
    background-color: purple;
}

.nav_boton_container label{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}


input[type="checkbox"]{
    display: none;
}

.palito_boton{
    display: block;
    border-radius: 10px;
    width: 30px;
    height: 5px;
    background-color: black;
    margin-bottom: 4px;
}

.barra_menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.navbar_mobile_container{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 250px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
    z-index: 100;
}

.navbar_mobile{
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_mobile ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items: center;
    height: 100%;
}


.navbar_mobile_menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16.6666667%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

.navbar_mobile_menu li a{
    transform: translateY(20%);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.active {
    background-color: black;
}

.active a{
    color: white !important;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 15px;
    font-weight:light;
}


ul li:hover{
    text-decoration: underline;
}

h1, h2{
    text-align: center;
    color: black;
    text-wrap: balance;
}

h1{
    height: 40px;
    width: 100%;
}

h1 img{
    width: 100%;
    height: 100%;
}

.presentacion_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.presentacion{
    width: 100%;
    height: 100%;
    font-family: 'Trirong', serif;
    font-weight: 600;
    font-size: 37px;
    line-height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
}


h2{
    font-family: 'Trirong', serif;
    width: 70%;
    margin-top: 40px;
    max-width: 1080px;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 50px;
    line-height: 40px;
}

.trabajos_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.fotos_container{

    position: relative;
    z-index: 1;
    min-width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:scroll;
    flex-wrap: nowrap;
    gap: 8px;
    margin-bottom: 20px;
}

.fotos_container::-webkit-scrollbar{
    display: none;
}

.fotos_trabajo{
    position: relative;
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 5px;
    height: 500px;
    width: 400px;
    transition: 0.2s;
}

.fotos_trabajo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.fotos_trabajo:hover{
    filter:contrast(105%);
    transform: translateY(-30px);
}

.tarjetas_container{
    position: relative;
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    z-index: 0;
}



.fotos_container_collage{
    display: flex;
    width: 100%;
    height: 600px;
}

.primera_collage{
    width: 42.8444444444%;
    height: 100%;
}

.cuacua{
    width: 100%;
    height: 66.66666667%;
    display: flex;
    overflow: hidden;
}

.segundo_cuacua{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.cuacuauno{
    width: 66.66666667%;
    height: 100%;
    overflow: hidden;
}

.segundo_container_collage{
    height: 400px;
} 

.segunda_container_collage.cuacuauno{
    height: 100%;
}

.fotos_container_collage img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    filter: blur(0px);
}


.fotos_container_collage img:hover{
    filter: brightness(110%);
    transform: scale(1.2);
}

.cuacuados{
    width:33.333333%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.cuacuadosuno{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.cuacuadosdos{
    width: 100%;
    height: 50%;
    
    overflow: hidden;
}

.cuecue{
    height: 33.33333333%;
    width: 100%;
    display: flex;
}

.cuecueuno{
    height: 100%;
    width: 33.3333%;
    
    overflow: hidden;
}

.cuecuedos{
    height: 100%;
    width: 33.3333%;
    
    overflow: hidden;
}

.cuecuetres{
    height: 100%;
    width: 33.3333%;
    
    overflow: hidden;
}

.segunda_collage{
    width: 28.56%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.duadua{
    width: 100%;
    height: 66.66666667%;
    
    overflow: hidden;
}

.duedue{
    display: flex;
    height: 33.3333333%;
    width: 100%;
}

.duedueuno{
    width: 50%;
    height: 100%;
    
    overflow: hidden;
}

.dueduedos{
    width: 50%;
    height: 100%;
    
    overflow: hidden;
}

.tercera_collage{
    width: 28.56%;
    height: 100%;
}


.tarjeta_trabajo{
    width: 32.3%;
    cursor: pointer;
    display: block;
    aspect-ratio: 1/1;
    opacity: 0;
    background: rgba(119, 0, 255, 0.74);
    margin: 1px;
    background-size: cover;
    background-position: center;
    animation: aparece_foto 2s forwards;
}


.tarjeta_trabajo:nth-child(1){
    animation-delay: 0s;
}
.tarjeta_trabajo:nth-child(2){
    animation-delay: 0.5s;
}.tarjeta_trabajo:nth-child(3){
    animation-delay: 1s;
}.tarjeta_trabajo:nth-child(6){
    animation-delay: 1.5s;
}.tarjeta_trabajo:nth-child(5){
    animation-delay: 4s;
}.tarjeta_trabajo:nth-child(4){
    animation-delay: 3.5s;
}.tarjeta_trabajo:nth-child(9){
    animation-delay: 2s;
}.tarjeta_trabajo:nth-child(8){
    animation-delay: 2.5s;
}.tarjeta_trabajo:nth-child(7){
    animation-delay: 3s;
}


.tarjeta_trabajo:hover{
    opacity: 0;
}


.about_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}


.encabezado_about_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about_item_container{
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

.about_item_container_marca{
    max-width: 1000px;
    background-size: cover;
    border: 1px solid black;
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.about_texto_marca{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    background-color: white;
}



.about_imagen{
    height: 100%;
    width: 40%;
}

.about_imagen img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
}

.imagen_dos{
    background: url("./images/Captura\ de\ pantalla\ 2023-05-31\ 202422.png");
}

.about_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
    height: 100%;
    font-family: 'Telex', sans-serif;
    font-size: 18px;
    color: black;
}

.about_texto button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.5s ease;
}

.about_texto button a{
    font-size: 13px;
    font-family: 'Telex', sans-serif;
    color: white;
}

.about_texto button:hover{
    transform: scale(1.05);
}


.boton_descargaCV{
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.circulo_boton{
    position: absolute;
    transition: transform 2s ease;
    z-index: -1;
}

.about_texto h3{
    width: 100%;
}

h3::first-letter{
    text-decoration: underline;
    text-decoration-color: red;
}


.about_texto ul{
    width: 100%;
    padding: 0;
    margin: 0;
}

.about_texto li{
    padding: 0;
    margin: 0;
    list-style:none;
}

.anios_cv{
    color: rgba(0, 0, 0, 0.479);
}

.contacto_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacto{
    margin-bottom: 50px;
     display: flex;
     justify-content:space-between;
     align-items:flex-start;
     border-top: 1px solid rgba(0, 0, 0, 0.144);
     border-bottom: 1px solid rgba(0, 0, 0, 0.144);
     width: 80%;
     max-width: 1000px;
     height: 100%;
     padding-bottom: 50px;
}

.contacto_contacto{
    margin-bottom: 50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    width: 80%;
    max-width: 1000px;
    height: 100%;
    padding-bottom: 50px;
}


.contacto_columna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    height: 100%;
}

.primera_col, .tercera_col{
    width: 20%;
}

.contacto h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}

.segunda_col{
    height: 100%;
    width: 50%;
}

.main_contacto{
    margin-top: 50px;
    width: 100%;
}

.formulario form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.formulario{
    width: 100%;
}

fieldset{
    display: block;
    border: none;
    width: 100%;
}

.nombre_apell_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombre_apell{
    gap: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}

.botoncito_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -30px;
}

.botoncito_container button{
    cursor: pointer;
    padding: 17px;
    background-color: black;
    color: white;
    font-family: 'Telex', sans-serif;
    font-size: 14px;
    text-align: center;
}

.botoncito_container button:hover{
    opacity: 0.5;
}


.elemento_form{
    width: 100%;
}

.elemento_form input{
    width: 100%;
}

.elemento_form textarea, .nombre_apell input{
    padding: 12px;
}

input, 
textarea{
    min-height: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    background: rgba(128, 128, 128, 0.027);
}

textarea{
    min-height: 100px;
}

label{
    font-size: 14px;
}

.services{
    font-family: 'Telex', sans-serif;
    font-weight: 100;
}

.final_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.final{
    text-align: center;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.712);
}

.banda_final{
    width: 100%;
    height: 50px;
    background: black;
}

.social_media_container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social_media{
    height: 50%;
    width: 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.social_media a{
    height: 100%;
}

.social_media a svg{
    height: 100%;
}

.social_media a svg:hover{
    transform: scale(1.15);
}

.estrella_azul_tope_pagina{
    display: none;
}

.logito:hover{
    animation: tiembla 0.1s infinite ease-in-out;
}

.lista_rotatoria_container{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: purple;
    transform: translateX(-110px) translateY(-25px);
    margin-left: 10px;
}

.item_rotador{
    animation: roll 8s ease 1s infinite;
    position: absolute;
}

.item_rotador:nth-child(1){
    animation-delay: 0s;
    opacity: 0;
}

.item_rotador:nth-child(2){
    animation-delay: 2s;
    opacity: 0;
}

.item_rotador:nth-child(3){
    animation-delay: 4s;
    opacity: 0;
}

.item_rotador:nth-child(4){
    animation-delay: 6s;
    opacity: 0;
}



.diseno_diseno{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.nombre_proyecto_diseno{
    display: block;
    font-weight: bold;
    font-size: 22px;
    text-decoration-color: red;
}

.descripcion_proyecto_diseno{
    color: rgba(0, 0, 0, 0.856);
}

.underline_proyecto_diseno{
    text-decoration: underline; 
    text-decoration-color: red;
}

.diseno_container article{
    height: 100%;
    width: 100%;
}

.diseno_articulo_container{
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items:flex-start;
}

.diseno_articulo_doble{
    height: 100%;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}


.diseno_articulo_container::-webkit-scrollbar{
    width: 0%;
}


.diseno_articulo{
    cursor: pointer;
    min-width: 500px;
    height: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    gap: 10px;
}

.diseno_articulo_texto{
    width: 100%;
}


.diseno_articulo img{
    width: 100%;
    object-fit:contain;
    display: block;
}

.diseno_articulo_image{
    width: 100%;
    height: 50%;
}

.titulo_index{
    display: block; 
    width: 500px; 
    text-align: start; 
    transform: translateX(-60px);
}

.logo_jartible_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.boton_izquierda{
    opacity: 0;
    border: none;
    cursor: pointer;
    position: sticky;
    top: 45%;
    left: 5px;
    z-index: 3;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
}

.boton_derecha {
    opacity: 0;
    border: none;
    cursor: pointer;
    position: sticky;
    top: 45%;
    right: 20px;
    z-index: 3;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
}

.diseno_articulo:hover{
    transform:translateY(1px);
}

@media screen and (max-width: 780px){



    .diseno_diseno{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .diseno_articulo_container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 100%;
        align-items:flex-start;
    }

    h2{
        max-width: 80%;
    }

    .puntito{
        display: none;
    }

    .barra_menu_container{
        display: block;
    }    

    header{
        height: 80px;
    }

    .icono_tope_pagina{
        display: none;
    }

    .navbar_container{
        display: none;
    }

    .diseno_articulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 300px;
        max-width: 100%;
        height: 100%;
    }

    .diseno_articulo img{
        width: 100%;
    }

    .diseno_articulo_doble{
        min-width: 300px;
    }

    .navbar_mobile_container{
        display: flex;
    }


    .titulo_index{
        text-align: center;
        width: 100%;
        transform: translateX(0px);
    }

    .lista_rotatoria_container{
        display: none;
    }

    .fotos_container_collage{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .lista_rotatoria_container{
        display: none;
    }

    .primera_collage, .segunda_collage, .tercera_collage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cuacua, .cuacuauno, .cuacuados, .cuacuadosuno, .cuacuadosdos, .cuecue, .cuecueuno, .cuecuedos, .cuecuetres, .duadua, .duedue, .duedueuno, .dueduedos, .segundo_cuacua{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .about_item_container.container_dos{
        flex-direction: column-reverse;
    }

    .iconitorojito{
        display: none;
        background-color: aqua;
    } 

    

    .icono_tope_pagina{
        transform: translateY(40px) scale(0.85);

    }
    
    .estrella_azul_menu{
        display: none;
    }

    .estrella_azul_tope_pagina{
        transform: translateY(20px) scale(0.85);
        display: block;
    }

    .azulejo{
        display: none;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .about_item_container{
        height: 400px;
        flex-direction: column;
    }

    .about_imagen{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_texto{
        width: 100%;
    }

    .tarjeta_trabajo{
        width: 100%;
    }

    .trabajos_container{
        width: 100%;
    }

    .titulo_marca_jartible h2{
        font-size: 60px !important;
        width: 100%;
    }

    .tarjetas_container{
        width: 93%;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        width: 93%;
    }

    .contacto_columna{
        width: 100%;
    }

    .tarjeta_trabajo:nth-child(1){
        animation-delay: 0s;
    }
    .tarjeta_trabajo:nth-child(2){
        animation-delay: 0.75s;
    }.tarjeta_trabajo:nth-child(3){
        animation-delay: 1.5s;
    }.tarjeta_trabajo:nth-child(4){
        animation-delay: 2.25s;
    }.tarjeta_trabajo:nth-child(9){
        animation-delay: 6s;
    }.tarjeta_trabajo:nth-child(8){
        animation-delay: 5.25s;
    }.tarjeta_trabajo:nth-child(5){
        animation-delay: 3.0s;
    }.tarjeta_trabajo:nth-child(6){
        animation-delay: 3.75s;
    }.tarjeta_trabajo:nth-child(7){
        animation-delay: 4.5s;
    }

    .logo_jartible_container img{
        width: 80% !important;
    }
    
    .boton_izquierda, .boton_derecha{
        display: none;
    }
}


@keyframes tiembla{
    0%  { transform:rotateZ(-1deg); }
    50% { transform:rotateZ( 0deg); }
    100%{ transform:rotateZ( 1deg); }
}

@keyframes roll{
    0% {
        opacity: 0;
        transform: translate3d(0, -70%, 0);
    }

    2.5%, 25% {
        opacity: 1;
        transform: translateZ(0);
    }

    27.5%, 100% {
        opacity: 0;
        transform: translate3d(0, 70%, 0);
    }
}

@keyframes aparece_foto{
    0%{
        opacity: 0;
    }
    
    20%{
        opacity: 1;
        transform: translate3d(0, 5%, 0);
    }

    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
