:root{
    --maximoancho: 1400px;
    lighting-color: antiquewhite;
}
@font-face {
    font-family: Athenian;
    src: url('./Athenian.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


a, a:link, a:visited{
    color: rgba(0, 0, 0, 0.575);
    text-decoration: none;
}

a:active{
    color: black;
}


a, p, label, fieldset, legend{
    font-family: 'Telex', sans-serif;
}

body{
    font-family: Athenian, Arial, sans-serif;
    background-color: var(--color_gris);
}

header {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

.icono_tope_pagina{
    width: 100%;
    transform: translateY(-90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 80%;
    max-width: var(--maximoancho);
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.navbar ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 15px;
    font-weight:light;
}

ul li{
    cursor: pointer;
    display: block;
}

ul li:hover{
    text-decoration: underline;
}

h1, h2{
    text-align: center;
    color: black;
}

h1{
    height: 40px;
    width: 100%;
}

h1 img{
    width: 100%;
    height: 100%;
}

.presentacion_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

h2{
    font-family: 'Trirong', serif;
    width: 70%;
    margin-top: 40px;
    max-width: 1080px;
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 50px;
    line-height: 40px;
}

.trabajos_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas_container{
    width: 80%;
    max-width: var(--maximoancho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.fotos_container{
    width: 80%;
    max-width: var(--maximoancho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin-bottom: 50px;
}

.fotos_container_collage{
    display: flex;
    width: 100%;
    height: 600px;
}

.primera_collage{
    width: 42.84%;
    height: 100%;
}

.cuacua{
    width: 100%;
    height: 66.66666667%;
    display: flex;
}

.cuacuauno{
    width: 66.66666667%;
    height: 100%;
}

.fotos_container_collage img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotos_container_collage img:hover{
    filter: brightness(110%);
}

.cuacuados{
    width:33.333333%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cuacuadosuno{
    width: 100%;
    height: 50%;
}

.cuacuadosdos{
    width: 100%;
    height: 50%;
}

.cuecue{
    height: 33.33333333%;
    width: 100%;
    display: flex;
}

.cuecueuno{
    height: 100%;
    width: 33.3333%;
}

.cuecuedos{
    height: 100%;
    width: 33.3333%;
}

.cuecuetres{
    height: 100%;
    width: 33.3333%;
}

.segunda_collage{
    width: 28.56%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.duadua{
    width: 100%;
    height: 66.66666667%;
}

.duedue{
    display: flex;
    height: 33.3333333%;
    width: 100%;
}

.duedueuno{
    width: 50%;
    height: 100%;
}

.dueduedos{
    width: 50%;
    height: 100%;
}

.tercera_collage{
    width: 28.56%;
    height: 100%;
}

.fotos_trabajo{
    cursor: pointer;
    border-radius: 2px;
    width: 30px;
    height: 200px;
    flex: 1px;
    transition: 0.4s ease-in-out;
}

.fotos_trabajo:hover{
    flex: 3;
    filter:contrast(120%);
}

.tarjeta_trabajo{
    width: 32.5%;
    cursor: pointer;
    display: block;
    aspect-ratio: 1/1;
    background: rgba(119, 0, 255, 0.74);
}


.tarjeta_trabajo:hover{
    opacity: 0.5;
}


.about_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: var(--maximoancho);
    gap: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}


.encabezado_about_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_item_container{
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}


.about_imagen{
    height: 100%;
    width: 40%;
}

.about_imagen img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
}

.imagen_dos{
    background: url("./images/Captura\ de\ pantalla\ 2023-05-31\ 202422.png");
}

.about_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
    height: 100%;
}

.contacto_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacto{
    margin-bottom: 50px;
     display: flex;
     justify-content:space-between;
     align-items:flex-start;
     border-top: 1px solid rgba(0, 0, 0, 0.144);
     border-bottom: 1px solid rgba(0, 0, 0, 0.144);
     width: 80%;
     max-width: var(--maximoancho);
     height: 100%;
     padding-bottom: 50px;
}

.contacto_contacto{
    margin-bottom: 50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    width: 80%;
    max-width: var(--maximoancho);
    height: 100%;
    padding-bottom: 50px;
}


.contacto_columna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    height: 100%;
}

.primera_col, .tercera_col{
    width: 20%;
}

.contacto h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}

.segunda_col{
    height: 100%;
    width: 50%;
}

.main_contacto{
    margin-top: 50px;
    width: 100%;
}

.formulario form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.formulario{
    width: 100%;
}

fieldset{
    display: block;
    border: none;
    width: 100%;
}

.nombre_apell_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombre_apell{
    gap: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}

.botoncito_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -30px;
}

.botoncito_container input{
    cursor: pointer;
    padding: 17px;
    background-color: black;
    color: white;
    font-family: 'Telex', sans-serif;
    font-size: 12px;
    text-align: center;
}

.botoncito_container input:hover{
    opacity: 0.5;
}

.elemento_form{
    width: 100%;
}

.elemento_form input{
    width: 100%;
}

input, 
textarea{
    min-height: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    background: rgba(128, 128, 128, 0.027);
}

textarea{
    min-height: 100px;
}

label{
    font-size: 14px;
}

.services{
    font-family: 'Telex', sans-serif;
    font-weight: 100;
}

.final_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.final{
    text-align: center;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.712);
}

.banda_final{
    width: 100%;
    height: 50px;
    background: black;
}

.social_media_container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social_media{
    height: 50%;
    width: 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.social_media a{
    height: 100%;
}

.social_media a svg{
    height: 100%;
}

.social_media a svg:hover{
    transform: scale(1.15);
}

.estrella_azul_tope_pagina{
    display: none;
}

@media screen and (max-width: 768px){

    .fotos_container_collage{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .primera_collage, .segunda_collage, .tercera_collage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 93%;
    }

    .cuacua, .cuacuauno, .cuacuados, .cuacuadosuno, .cuacuadosdos, .cuecue, .cuecueuno, .cuecuedos, .cuecuetres, .duadua, .duedue, .duedueuno, .dueduedos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .about_item_container.container_dos{
        flex-direction: column-reverse;
    }

    .iconitorojito{
        display: none;
    } 

    .icono_tope_pagina{
        transform: translateY(40px) scale(0.85);

    }
    
    .estrella_azul_menu{
        display: none;
    }

    .estrella_azul_tope_pagina{
        transform: translateY(20px) scale(0.85);
        display: block;
    }

    .azulejo{
        display: none;
    }

    .about{
        gap: 20px;
    }

    .about_item_container{
        flex-direction: column;
    }

    .about_imagen{
        width: 100%;
        height: 50%;
    }

    .about_texto{
        width: 100%;
    }

    .tarjeta_trabajo{
        width: 100%;
    }

    .trabajos_container{
        width: 100%;
    }

    .tarjetas_container{
        width: 93%;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        width: 93%;
    }

    .contacto_columna{
        width: 100%;
    }
}

.logito:hover{
    animation: tiembla 0.1s infinite ease-in-out;
  }

  @keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-1deg); }
    50% { -webkit-transform:rotateZ( 0deg); }
    100%{ -webkit-transform:rotateZ( 1deg); }
  }